@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            //DataTable to handle presentation dataTable will look in to current document and look for table with id movies
            var table = $("#movies").DataTable({
                ajax: { url: "api/movies", dataSrc: "" },
                columns: [
                    { data: "name" },
                    { data: "genre.name" }
                ]

            });

        });
    </script>
}